body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u5 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(234, 243, 248, 1) 0%, rgba(234, 243, 248, 1) 0%, rgba(176, 183, 189, 1) 100%, rgba(176, 183, 189, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(234, 243, 248, 1) 0%, rgba(234, 243, 248, 1) 0%, rgba(176, 183, 189, 1) 100%, rgba(176, 183, 189, 1) 100%);
  background:linear-gradient(180deg, rgba(234, 243, 248, 1) 0%, rgba(234, 243, 248, 1) 0%, rgba(176, 183, 189, 1) 100%, rgba(176, 183, 189, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(134, 210, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  position:absolute;
  left:569px;
  top:6px;
  width:50px;
  height:28px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
  background:inherit;
  background-color:rgba(134, 210, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-radius:1px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:619px;
  top:14px;
  width:8px;
  height:12px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u13 {
  position:absolute;
  left:245px;
  top:6px;
  width:150px;
  height:28px;
  font-size:24px;
  text-align:center;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u15 {
  position:absolute;
  left:7px;
  top:7px;
  width:163px;
  height:26px;
  font-size:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 0%, rgba(34, 34, 34, 1) 100%, rgba(34, 34, 34, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 0%, rgba(34, 34, 34, 1) 100%, rgba(34, 34, 34, 1) 100%);
  background:linear-gradient(180deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 0%, rgba(34, 34, 34, 1) 100%, rgba(34, 34, 34, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#838383;
}
#u20 {
  position:absolute;
  left:0px;
  top:860px;
  width:160px;
  height:50px;
  font-size:20px;
  color:#838383;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(31, 31, 31, 1) 0%, rgba(31, 31, 31, 1) 0%, rgba(28, 28, 28, 1) 100%, rgba(28, 28, 28, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(31, 31, 31, 1) 0%, rgba(31, 31, 31, 1) 0%, rgba(28, 28, 28, 1) 100%, rgba(28, 28, 28, 1) 100%);
  background:linear-gradient(180deg, rgba(31, 31, 31, 1) 0%, rgba(31, 31, 31, 1) 0%, rgba(28, 28, 28, 1) 100%, rgba(28, 28, 28, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#838383;
}
#u22 {
  position:absolute;
  left:0px;
  top:910px;
  width:160px;
  height:50px;
  font-size:20px;
  color:#838383;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(64, 64, 64, 1) 0%, rgba(64, 64, 64, 1) 0%, rgba(53, 53, 53, 1) 100%, rgba(53, 53, 53, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(64, 64, 64, 1) 0%, rgba(64, 64, 64, 1) 0%, rgba(53, 53, 53, 1) 100%, rgba(53, 53, 53, 1) 100%);
  background:linear-gradient(180deg, rgba(64, 64, 64, 1) 0%, rgba(64, 64, 64, 1) 0%, rgba(53, 53, 53, 1) 100%, rgba(53, 53, 53, 1) 100%);
  border:none;
  border-bottom:0px;
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:5px;
  top:865px;
  width:150px;
  height:45px;
}
#u26 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(43, 43, 43, 1) 0%, rgba(43, 43, 43, 1) 0%, rgba(43, 43, 43, 1) 100%, rgba(43, 43, 43, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(43, 43, 43, 1) 0%, rgba(43, 43, 43, 1) 0%, rgba(43, 43, 43, 1) 100%, rgba(43, 43, 43, 1) 100%);
  background:linear-gradient(180deg, rgba(43, 43, 43, 1) 0%, rgba(43, 43, 43, 1) 0%, rgba(43, 43, 43, 1) 100%, rgba(43, 43, 43, 1) 100%);
  border:none;
  border-top:0px;
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:5px;
  top:910px;
  width:150px;
  height:45px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
}
#u29 {
  position:absolute;
  left:5px;
  top:897px;
  width:150px;
  height:26px;
  font-size:22px;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 0%, rgba(34, 34, 34, 1) 100%, rgba(34, 34, 34, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 0%, rgba(34, 34, 34, 1) 100%, rgba(34, 34, 34, 1) 100%);
  background:linear-gradient(180deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 0%, rgba(34, 34, 34, 1) 100%, rgba(34, 34, 34, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#838383;
}
#u33 {
  position:absolute;
  left:160px;
  top:860px;
  width:160px;
  height:50px;
  font-size:20px;
  color:#838383;
}
#u34 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(31, 31, 31, 1) 0%, rgba(31, 31, 31, 1) 0%, rgba(28, 28, 28, 1) 100%, rgba(28, 28, 28, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(31, 31, 31, 1) 0%, rgba(31, 31, 31, 1) 0%, rgba(28, 28, 28, 1) 100%, rgba(28, 28, 28, 1) 100%);
  background:linear-gradient(180deg, rgba(31, 31, 31, 1) 0%, rgba(31, 31, 31, 1) 0%, rgba(28, 28, 28, 1) 100%, rgba(28, 28, 28, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#838383;
}
#u35 {
  position:absolute;
  left:160px;
  top:910px;
  width:160px;
  height:50px;
  font-size:20px;
  color:#838383;
}
#u36 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
}
#u37 {
  position:absolute;
  left:165px;
  top:897px;
  width:150px;
  height:26px;
  font-size:22px;
  color:#838383;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 0%, rgba(34, 34, 34, 1) 100%, rgba(34, 34, 34, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 0%, rgba(34, 34, 34, 1) 100%, rgba(34, 34, 34, 1) 100%);
  background:linear-gradient(180deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 0%, rgba(34, 34, 34, 1) 100%, rgba(34, 34, 34, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#838383;
}
#u41 {
  position:absolute;
  left:320px;
  top:860px;
  width:160px;
  height:50px;
  font-size:20px;
  color:#838383;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(31, 31, 31, 1) 0%, rgba(31, 31, 31, 1) 0%, rgba(28, 28, 28, 1) 100%, rgba(28, 28, 28, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(31, 31, 31, 1) 0%, rgba(31, 31, 31, 1) 0%, rgba(28, 28, 28, 1) 100%, rgba(28, 28, 28, 1) 100%);
  background:linear-gradient(180deg, rgba(31, 31, 31, 1) 0%, rgba(31, 31, 31, 1) 0%, rgba(28, 28, 28, 1) 100%, rgba(28, 28, 28, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#838383;
}
#u43 {
  position:absolute;
  left:320px;
  top:910px;
  width:160px;
  height:50px;
  font-size:20px;
  color:#838383;
}
#u44 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
}
#u45 {
  position:absolute;
  left:325px;
  top:897px;
  width:150px;
  height:26px;
  font-size:22px;
  color:#838383;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 0%, rgba(34, 34, 34, 1) 100%, rgba(34, 34, 34, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 0%, rgba(34, 34, 34, 1) 100%, rgba(34, 34, 34, 1) 100%);
  background:linear-gradient(180deg, rgba(45, 45, 45, 1) 0%, rgba(45, 45, 45, 1) 0%, rgba(34, 34, 34, 1) 100%, rgba(34, 34, 34, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#838383;
}
#u49 {
  position:absolute;
  left:480px;
  top:860px;
  width:160px;
  height:50px;
  font-size:20px;
  color:#838383;
}
#u50 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(31, 31, 31, 1) 0%, rgba(31, 31, 31, 1) 0%, rgba(28, 28, 28, 1) 100%, rgba(28, 28, 28, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(31, 31, 31, 1) 0%, rgba(31, 31, 31, 1) 0%, rgba(28, 28, 28, 1) 100%, rgba(28, 28, 28, 1) 100%);
  background:linear-gradient(180deg, rgba(31, 31, 31, 1) 0%, rgba(31, 31, 31, 1) 0%, rgba(28, 28, 28, 1) 100%, rgba(28, 28, 28, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#838383;
}
#u51 {
  position:absolute;
  left:480px;
  top:910px;
  width:160px;
  height:50px;
  font-size:20px;
  color:#838383;
}
#u52 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
}
#u53 {
  position:absolute;
  left:485px;
  top:897px;
  width:150px;
  height:26px;
  font-size:22px;
  color:#838383;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
